# Environnements virtuels
env-ocr/
env-ocr-linux/
.env/
venv/
wheels_gpu/

# Dossiers de sortie
output/
__pycache__/
*.log

# Modèles OCR locaux
.paddleocr/

# Fichiers temporaires
*.tmp
*.bak

# Archives (on garde seulement les versions LFS)
*.zip
*.7z
!env-ocr-linux.zip